/* Colors */
$color__l-gray: #999999;
$color__m-gray: #666666;
$color__d-gray: #333333;
$color__l-blue: #d0e6ec;
$color__m-blue: #77959B;
$color__d-blue: #3f514a;
$color__l-red: #9F0301;
$color__m-red: #5b0201;
$color__d-red: #300100;
$color__l-white: #FFFFFF;
$color__m-white: #F2F2F2;
$color__d-white: #E3E3E3;

$color__background-body: $color__m-white;
$color__background-screen: $color__m-white;
$color__background-hr: $color__d-white;
$color__background-button: $color__d-white;
$color__background-pre: $color__d-white;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: $color__m-blue;
$color__link-visited: $color__m-blue;
$color__link-hover: $color__d-blue;
$color__text-main: #404040;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;


