
.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}


@media screen and (min-width: 641px) {
	body.home {

		.site-branding {
			display:none;
		}
		.main-navigation{
			margin-top: 1em;
		}
		.site-main .entry-title {
			background: url(img/circlecube-home-horizontal.png) center center no-repeat transparent;
			background-size: contain;
		    width: 90%;
		    height: 0;
		    padding-top: 25%;
		    text-indent: -999em;
		    margin: 2em auto 3em;
		}
	}
}